@model KnxDataCollector.Model.KnxTelegrams

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>KnxTelegrams</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Tid" />
            <div class="form-group">
                <label asp-for="TimestampS" class="control-label"></label>
                <input asp-for="TimestampS" class="form-control" />
                <span asp-validation-for="TimestampS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timestamp" class="control-label"></label>
                <input asp-for="Timestamp" class="form-control" />
                <span asp-validation-for="Timestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service" class="control-label"></label>
                <input asp-for="Service" class="form-control" />
                <span asp-validation-for="Service" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FrameFormat" class="control-label"></label>
                <input asp-for="FrameFormat" class="form-control" />
                <span asp-validation-for="FrameFormat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RawData" class="control-label"></label>
                <input asp-for="RawData" class="form-control" />
                <span asp-validation-for="RawData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RawDataLength" class="control-label"></label>
                <input asp-for="RawDataLength" class="form-control" />
                <span asp-validation-for="RawDataLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input asp-for="FileName" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
